body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header h1{
    color: #1B617B;
    font-size: 48px;
    margin-bottom: 20px;
}

header{
    background-color: rgba(126, 190, 214, 0.4);
    text-align: center;
    width: 100%;
    font-size: 16px;
    color: black;
    margin-top: 0;
    display: flex;
}

header #title{
    margin: 0 auto;
    text-align: center;
}

main .button-selector{
    width: 600px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}

main .button-selector button{
    border-radius: 5px;
    height: 40px;
    width: 150px;
    border: 2px solid green;
    color:green;
    font-size: 14px;
    font-weight: 200;
    background-color: white;
}

main .button-selector button:hover{
    cursor: pointer;
    box-shadow: 0 0px 10px 0 greenyellow;
    background-color: green;
    color: white;
}


main .random-dog-image{
    margin-top: 20px;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    justify-content: center;
}

main .random-dog-image img{
    width: 250px;
    height: 250px ;
    margin-right: 15px;
    margin-top: 15px;
    box-shadow: 1px 1px 5px 0 #697d96;
    align-items: center;
}

main .random-dog-image button{
    margin: 10px;
}

#favorites article button{
    border-radius: 5px;
    height: 40px;
    width: 150px;
    border: 2px solid red;
    color:#cc1010;
    font-size: 14px;
    font-weight: 200;
    background-color: white;
    margin-top: 15px;
}

#favorites article button:hover{
    cursor: pointer;
    box-shadow: 0 0px 10px 0 #a43333;
    background-color: red;
    color: white;
}

.save-favorite{
    border-radius: 5px;
    height: 40px;
    width: 50px;
    border: 2px solid orangered;
    color:orangered;
    font-size: 14px;
    font-weight: 200;
    align-items: center;
    background-color: white;
}

.save-favorite:hover{
    cursor: pointer;
    box-shadow: 0 0px 3px 0 orange;
    background-color: orangered;
    color: white;
}

#favorites article{
    display: inline-grid;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 10px;
    justify-items: center;
}

#favorites article img{
    width: 250px;
    height: 280px ;
    margin-right: 15px;
    margin-top: 15px;
    box-shadow: 1px 1px 5px 0 #697d96;
    align-items: center;
}

#warning{
    color: red;
    font-size: medium;
    background-color: rgba(255, 0, 0, 0.2);
    width: 100%;
    margin: 0;
    height: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#uploadingDog #uploadingForm{
    display: inline-grid;
    grid-template-rows: 2;
    margin:0 auto;
    justify-content: center;
    text-align: center;
}

#uploadingDog #uploadingForm input::file-selector-button{
    height: 45px;
    width: 150px;
    border: 2px solid #0fb3c5;
    border-radius: 5px;
    color: #0fb3c5;
    margin-bottom: 35px;
    background-color: white;
    font-weight: bold;
}

#uploadingDog #uploadingForm input::file-selector-button:hover{
    background-color: #0fb3c5;
    cursor: pointer;
    box-shadow: 0 0px 3px 0 rgb(37, 75, 243);
    color: white;
}


#uploadingDog #uploadingForm button{
    height: 45px;
    width: 150px;
    border: 2px solid #0fc561;
    border-radius: 5px;
    color: #0fc561;
    background-color: white;
    font-weight: bold;
    margin: 0 auto;
    align-items: center;
}

#uploadingDog #uploadingForm button:hover{
    background-color: #0fc561;;
    cursor: pointer;
    box-shadow: 0 0px 3px 0 rgb(16, 161, 31);
    color: white;
}